<html>

<head>
    <title>Twitter Direct Message Viewer</title>
    <meta charset="utf-8">
    <style>
    {% include "viewer.css" %}
    </style>
    <script>
    {% include "early-vars.js" %}
    </script>
    <script src="./account.js"></script>
    <script src="./profile.js"></script>
    <script src="./direct-message.js"></script>
    <script src="./direct-message-group.js"></script>
    <script src="./twitterIDs.js"></script>
    <script>
    {% include "viewer.js" %}
    </script>
</head>

<body onload="renderPage()">
    <div class="controls">
        <div class="control_row">
            <input type="checkbox" id="direct_messages" name="direct_messages" onclick="renderPage()" checked><label for="direct_messages">Direct Messages</label>
            <input type="checkbox" id="group_messages" name="group_messages" onclick="renderPage()" checked><label for="group_messages">Group Messages</label>
            <input type="checkbox" id="recipient_threads" name="recipient_threads" onclick="renderPage()" checked><label for="recipient_threads" title="Include threads the account has not sent messages in">Recipient Only</label>
            <input type="checkbox" id="expand" name="expand" onclick="renderPage()" checked><label for="expand">Expand All</label>
        </div>
        <div class="control_row">
            <button onclick="renderPage()">Search</button><input type="search" id="search" name="search" aria-label="Search Messages" onkeyup="renderPage()" >
            <input type="checkbox" id="search_sender" name="search_sender" onclick="renderPage()" checked><label for="search_sender" title="Only include accounts messages in search">Sent Only</label>
        </div>
    </div>
    <div id="sender_container" class="sender_container"></div>

    <br>
    <a rel="license" class="license control_row" href="https://www.gnu.org/licenses/gpl-3.0.txt">
This work is licensed under a GPLv3 or Later<img src="gplv3.png" height="10" alt="gpl3 logo">
    </a>
</body>

</html>
