body{
  font-family:Roboto, helvetica, sans-serif;
  font-size:16px;
  line-height:1.25
}

img{
  max-width: 100%;
}

.message_container:after, .conversation:after {
  clear: both;
  content: '';
  display: block;
  float: none;
  width: 100%;
}

.sender_container, .controls{
  margin:auto;
  max-width: 768px;
}

.control_row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.message_container {
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  clear:both;
  margin: 1em;
  max-width:60%;
  padding: 10px;
}

.message_container[sent="true"] {
  background: #a7ffa7;
  clear: both;
  float: right;
}

.sender {
  font-size: 10px;
  font-style: italic;
}

.conversation{
  border:1px solid #ddd;
  margin: 2em;
  padding:1em;
}

.message{
  margin-top:10px;
}

.action{
  font-style: italic;
}

.license{
  font-size:10px;
  line-height:1
}
